
<div class="intro-2 rgba-gradient full-height">
  <div class="full-bg-img container-full full-height main-page">
    <div class="container flex-center container-full">
      <div class="row flex-center pt-5 mt-3 container-full">
        <div class="col-md-6 text-center text-md-left margins container-full">
          <div class="white-text container-full" >
            <h1 class="h1-responsive wow fadeInLeft main-item" data-wow-delay="0.3s">{{"consent.privacy" | translate}}</h1>
            <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
            <h6 class="wow fadeInLeft main-item" data-wow-delay="0.3s">
              {{"main.welcome_body" | translate}}
              <br>
            </h6>

            <br>
            <h6 class="wow fadeInLeft main-item" data-wow-delay="0.3s">
              {{"consent.agree" | translate}}
              <br>
            </h6>
            <div class="text-center">
              <button mat-raised-button color="primary" (click)="submit()">{{"consent.accept" | translate}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
